* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
}

.about {
  width: 50%;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.55);
  border: 30px solid rgba(101, 37, 212, 0.2);
  border-radius: 12px;
}
.about__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px gray solid;
}
.about__main__heading {
  margin: 5px;
  color: whitesmoke;
  font-size: 40px;
}
.about__main__img {
  margin: 10px;
  border-radius: 50%;
  border: 4px whitesmoke solid;
}
.about__main__para {
  margin: 20px;
  font-size: 25px;
  color: whitesmoke;
}

.footer > a {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  color: whitesmoke;
}
