* {
  margin: 0;
  padding: 0;
}

.about {
  width: 700px;
  margin-top: 20px;
  margin-left: 33.3333333333%;
  margin-right: 33.3333333333%;
  border: 10px solid red;
  background-color: rgba(0, 0, 0, 0.55);
  border: 30px solid rgba(101, 37, 212, 0.2);
  border-radius: 12px;
}
.about__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px gray solid;
}
.about__main__heading {
  margin: 5px;
  color: whitesmoke;
  font-size: 40px;
}
.about__main__img {
  margin: 20px;
  border-radius: 50%;
  border: 4px whitesmoke solid;
}
.about__main__para {
  margin: 30px;
  font-size: 25px;
  color: whitesmoke;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.footer > a {
  color: aqua;
}

* {
  margin: 0;
  padding: 0;
}

.about {
  width: 700px;
  margin-top: 20px;
  margin-left: 33.3333333333%;
  margin-right: 33.3333333333%;
  border: 10px solid red;
  background-color: rgba(0, 0, 0, 0.55);
  border: 30px solid rgba(101, 37, 212, 0.2);
  border-radius: 12px;
}
.about__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px gray solid;
}
.about__main__heading {
  margin: 5px;
  color: whitesmoke;
  font-size: 40px;
}
.about__main__img {
  margin: 20px;
  border-radius: 50%;
  border: 4px whitesmoke solid;
}
.about__main__para {
  margin: 30px;
  font-size: 25px;
  color: whitesmoke;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
