* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.about {
  width: 50%;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.55);
  border: 30px solid rgba(101, 37, 212, 0.2);
  border-radius: 12px;
}
@media only screen and (max-width: 576px) {
  .about {
    width: 80vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .about {
    width: 80vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about {
    width: 80vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .about {
    width: 80vw;
  }
}
.about__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px gray solid;
}
.about__main__heading {
  margin: 5px;
  color: whitesmoke;
  font-size: 40px;
}
.about__main__img {
  margin: 10px;
  border-radius: 50%;
  border: 4px whitesmoke solid;
}
@media only screen and (max-width: 576px) {
  .about__main__img {
    width: 40vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .about__main__img {
    width: 40vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about__main__img {
    width: 40vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .about__main__img {
    width: 40vw;
  }
}
.about__main__para {
  margin: 20px;
  font-size: 25px;
  color: whitesmoke;
}
