* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
}

.skills {
  width: 1000px;
  margin-top: 50px;
  background-color: rgba(101, 37, 212, 0.2);
  border-radius: 12px;
}
.skills__header {
  display: flex;
  align-items: center;
}
.skills__header--skills {
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  border: 2px gray solid;
  margin: 30px 30px 0px 30px;
  padding-left: 8px;
  color: whitesmoke;
  font-size: 30px;
}
.skills__header--projects {
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 100px;
  border: 2px gray solid;
  margin: 30px 45px 0px 0px;
  color: whitesmoke;
  font-size: 40px;
}
.skills__main {
  display: flex;
  justify-content: center;
}
.skills__main__panel {
  background-color: rgba(0, 0, 0, 0.55);
  width: 250px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  border: 2px gray solid;
  margin: 30px 0px 30px 30px;
}
.skills__main__panel--btn {
  background-color: rgba(0, 0, 0, 0.55);
  font-size: 20px;
  border: 2px gray solid;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15px;
}
.skills__main__panel--btn:hover {
  background-color: rgba(67, 81, 163, 0.55);
}
.skills__main__display {
  background-color: rgba(0, 0, 0, 0.55);
  width: 1000px;
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px gray solid;
}
.skills__main__display--header {
  margin: 10px;
  color: whitesmoke;
  font-size: 30px;
}
.skills__main__display--para {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  color: whitesmoke;
  border: 2px gray solid;
  border-left: 0;
  border-right: 0;
}

.gallery {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.gallery__img {
  border: 5px whitesmoke solid;
}
.gallery__img--text {
  font-size: 15px;
  text-align: center;
  color: whitesmoke;
}
