* {
  margin: 0;
  padding: 0;
}

#Javascript {
  display: none;
}
@media only screen and (max-width: 576px) {
  #Javascript {
    display: flex;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  #Javascript {
    display: flex;
  }
}

#Java {
  display: none;
}
@media only screen and (max-width: 576px) {
  #Java {
    display: flex;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  #Java {
    display: flex;
  }
}

#Git {
  display: none;
}
@media only screen and (max-width: 576px) {
  #Git {
    display: flex;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  #Git {
    display: flex;
  }
}

#TDD {
  display: none;
}
@media only screen and (max-width: 576px) {
  #TDD {
    display: flex;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  #TDD {
    display: flex;
  }
}

#Firestore {
  display: none;
}
@media only screen and (max-width: 576px) {
  #Firestore {
    display: flex;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  #Firestore {
    display: flex;
  }
}

#SQL {
  display: none;
}
@media only screen and (max-width: 576px) {
  #SQL {
    display: flex;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  #SQL {
    display: flex;
  }
}

.fire {
  justify-content: center;
}

body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.fa-brands {
  padding: 10px;
}

.fa-solid {
  padding: 10px;
}

.fa-light {
  padding: 10px;
}

.back-btn {
  display: none;
}
@media only screen and (max-width: 576px) {
  .back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    background-color: whitesmoke;
    height: 40px;
    width: 150px;
    font-size: 30px;
    margin: 10px;
    border-radius: 12px;
  }
  .back-btn:hover {
    background-color: rgba(67, 81, 163, 0.55);
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    background-color: whitesmoke;
    height: 40px;
    width: 150px;
    font-size: 30px;
    margin: 10px;
    border-radius: 12px;
  }
  .back-btn:hover {
    background-color: rgba(67, 81, 163, 0.55);
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
  }
}

.skills {
  width: 85vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(101, 37, 212, 0.2);
  border-radius: 12px;
  color: whitesmoke;
  margin-top: 50px;
}
@media only screen and (max-width: 576px) {
  .skills {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .skills {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
}
.skills__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
  width: 80vw;
  border: 2px gray solid;
  margin: 30px;
  font-size: 50px;
}
@media only screen and (max-width: 576px) {
  .skills__header {
    width: 80vw;
    margin: 30px 30px 0px 30px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .skills__header {
    width: 80vw;
    margin: 30px 30px 0px 30px;
  }
}
.skills__display {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.55);
  border: 2px gray solid;
  margin: 30px;
}
@media only screen and (max-width: 576px) {
  .skills__display {
    width: 80vw;
    margin: 0px 30px 30px 30px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .skills__display {
    width: 80vw;
    margin: 0px 30px 30px 30px;
  }
}
.skills__display__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.55);
}
.skills__display__card > img {
  border: 5px whitesmoke solid;
  width: 9vw;
  height: 15vh;
}
@media only screen and (max-width: 576px) {
  .skills__display__card > img {
    width: 100px;
    height: 100px;
  }
}
