$button-width: 200px;
$button-height: 30px;
$text-colour: whitesmoke;
$div-background-main: rgba(0, 0, 0, 0.55);
$div-background-border: rgba(101, 37, 212, 0.2);
* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
}
.about {
  width: calc(100% / 2);
  margin-top: 40px;
  background-color: $div-background-main;
  border: 30px solid $div-background-border;
  border-radius: 12px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px gray solid;
    &__heading {
      margin: 5px;
      color: $text-colour;
      font-size: 40px;
    }
    &__img {
      margin: 10px;
      border-radius: 50%;
      border: 4px $text-colour solid;
    }
    &__para {
      margin: 20px;
      font-size: 25px;
      color: $text-colour;
    }
  }
}
.footer {
  & > a {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    color: $text-colour;
  }
}
