@use "./devices.scss";

$button-width: 200px;
$button-height: 30px;
$text-colour: whitesmoke;
$div-background-main: rgba(0, 0, 0, 0.55);
$div-background-border: rgba(101, 37, 212, 0.2);
$div-width-devices: 80vw;
$img-width: 40vw;
$button-hover-colour: rgba(67, 81, 163, 0.55);

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: 90vw;
  margin-top: 40px;
  background-color: $div-background-border;
  border-radius: 12px;
  @include devices.phone {
    width: $div-width-devices;
  }
  @include devices.tablet {
    width: $div-width-devices;
  }
  @include devices.tablet-landscape {
    width: $div-width-devices;
  }
  @include devices.laptop {
    width: $div-width-devices;
  }
  &__main {
    width: calc(100vw / 2);
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $div-background-main;
    border: 2px gray solid;

    &__heading {
      margin: 25px;
      color: $text-colour;
      font-size: 40px;
    }
    &__img {
      margin: 10px;
      border-radius: 50%;
      border: 4px $text-colour solid;
      @include devices.phone {
        width: $img-width;
      }
      @include devices.tablet {
        width: $img-width;
      }
      @include devices.tablet-landscape {
        width: $img-width;
      }
      @include devices.laptop {
        width: $img-width;
      }
    }
    &__para {
      margin: 40px;
      padding: 10px;
      font-size: 25px;
      border: 2px gray solid;
      border-top: 2px;
      border-left: 2px;
      border-right: 2px;
      color: $text-colour;
    }
  }
  &__panel {
    margin: 30px;
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-colour;
    background-color: $div-background-main;
    border: 2px gray solid;
    &__card {
      margin: 0.5vw 1vw 0.5vw 1vw;
      padding: 0.5vw;
      width: 14vw;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $text-colour;
      &:hover {
        background-color: $button-hover-colour;
      }
    }
  }
}
.space-between {
  width: 8vw;
  display: flex;
  justify-content: space-between;
}
icon {
  font-size: 40px;
}
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-colour;
}
