$button-width: 200px;
$button-height: 30px;
$text-colour: whitesmoke;
$div-background-main: rgba(0, 0, 0, 0.55);
$div-background-border: rgba(101, 37, 212, 0.2);
$div-border: 2px gray solid;
$button-hover-colour: rgba(67, 81, 163, 0.55);
$div-box-width: 1000px;
$div-box-height: 800px;

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
main {
  display: flex;
  justify-content: center;
}
.skills {
  width: $div-box-width;
  margin-top: 50px;
  background-color: $div-background-border;
  border-radius: 12px;
  &__header {
    display: flex;
    align-items: center;
    &--skills {
      background-color: $div-background-main;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc($div-box-width / 4);
      height: 100px;
      border: $div-border;
      margin: 30px 30px 0px 30px;
      padding-left: 8px;
      color: $text-colour;
      font-size: 30px;
    }
    &--projects {
      background-color: $div-background-main;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc($div-box-width / 1);
      height: 100px;
      border: $div-border;
      margin: 30px 45px 0px 0px;
      color: $text-colour;
      font-size: 40px;
    }
  }
  &__main {
    display: flex;
    justify-content: center;

    &__panel {
      background-color: $div-background-main;
      width: calc($div-box-width / 4);
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: space-between;
      border: $div-border;
      margin: 30px 0px 30px 30px;

      &--btn {
        background-color: $div-background-main;
        font-size: 20px;
        border: $div-border;
        color: $text-colour;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 15px;
        &:hover {
          background-color: $button-hover-colour;
        }
      }
    }
    &__display {
      background-color: $div-background-main;
      width: calc($div-box-width / 1);
      margin: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      border: $div-border;
      &--header {
        margin: 10px;
        color: $text-colour;
        font-size: 30px;
      }
      &--para {
        margin: 10px;
        padding: 20px;
        font-size: 20px;
        color: $text-colour;
        border: $div-border;
        border-left: 0;
        border-right: 0;
      }
    }
  }
}
.gallery {
  width: calc($div-box-width / 2);
  display: flex;
  justify-content: space-around;

  &__img {
    border: 5px $text-colour solid;
    &--text {
      font-size: 15px;
      text-align: center;
      color: $text-colour;
    }
  }
}
