@use "./devices.scss";

$button-width: 200px;
$button-height: 30px;
$text-colour: whitesmoke;
$div-background-main: rgba(0, 0, 0, 0.55);
$div-background-border: rgba(101, 37, 212, 0.2);
$div-border: 2px gray solid;
$button-hover-colour: rgba(67, 81, 163, 0.55);
$div-box-width: 1000px;
$div-box-height: 800px;
$div-width: 90vw;
* {
  margin: 0;
  padding: 0;
}
// ID's
// Display functions
// ID names
// HTML, Javascript, Java, Git, TDD, Firestore, SQL
// #HTML {
//   display: none;
//   @include devices.phone {
//     display: flex;
//   }
//   @include devices.tablet {
//     display: flex;
//   }
// }
#Javascript {
  display: none;
  @include devices.phone {
    display: flex;
  }
  @include devices.tablet {
    display: flex;
  }
}
#Java {
  display: none;
  @include devices.phone {
    display: flex;
  }
  @include devices.tablet {
    display: flex;
  }
}
#Git {
  display: none;
  @include devices.phone {
    display: flex;
  }
  @include devices.tablet {
    display: flex;
  }
}
#TDD {
  display: none;
  @include devices.phone {
    display: flex;
  }
  @include devices.tablet {
    display: flex;
  }
}
#Firestore {
  display: none;
  @include devices.phone {
    display: flex;
  }
  @include devices.tablet {
    display: flex;
  }
}
#SQL {
  display: none;
  @include devices.phone {
    display: flex;
  }
  @include devices.tablet {
    display: flex;
  }
}

.fire {
  justify-content: center;
}
body {
  background-color: black;
}
main {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.fa-brands {
  padding: 10px;
}
.fa-solid {
  padding: 10px;
}
.fa-light {
  padding: 10px;
}
.back-btn {
  display: none;
  @include devices.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    background-color: $text-colour;
    height: 40px;
    width: 150px;
    font-size: 30px;
    margin: 10px;
    border-radius: 12px;
    &:hover {
      background-color: $button-hover-colour;
      color: $text-colour;
      box-shadow: 0 4px 8px $div-background-main;
    }
  }
  @include devices.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    background-color: $text-colour;
    height: 40px;
    width: 150px;
    font-size: 30px;
    margin: 10px;
    border-radius: 12px;
    &:hover {
      background-color: $button-hover-colour;
      color: $text-colour;
      box-shadow: 0 4px 8px $div-background-main;
    }
  }
}
.skills {
  width: 85vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $div-background-border;
  border-radius: 12px;
  color: $text-colour;
  margin-top: 50px;
  @include devices.phone {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  @include devices.tablet {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $div-background-main;
    width: 80vw;
    border: $div-border;
    margin: 30px;
    font-size: 50px;
    @include devices.phone {
      width: 80vw;
      margin: 30px 30px 0px 30px;
    }
    @include devices.tablet {
      width: 80vw;
      margin: 30px 30px 0px 30px;
    }
  }
  &__display {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $div-background-main;
    border: $div-border;
    margin: 30px;
    @include devices.phone {
      width: 80vw;
      margin: 0px 30px 30px 30px;
    }
    @include devices.tablet {
      width: 80vw;
      margin: 0px 30px 30px 30px;
    }
    &__card {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      height: 25vh;
      background-color: $div-background-main;

      & > img {
        border: 5px $text-colour solid;
        width: 9vw;
        height: 15vh;
        @include devices.phone {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
